<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog USC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://kit.fontawesome.com/1d5dea83af.js" crossorigin="anonymous"></script>
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/Partials/_Header.cshtml")

    <div class="container py-5 d-flex flex-column min-vh-100">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year Blog USC. Todos los derechos reservados.</p>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>